<section>

    <!-- Box -->
    <div class="box">
        <img class="boxImage" src="assets/img/placeholderperfil.webp" alt="deity image">

        <!-- Nome -->
        <h3 class="styleBoxNome">Felor</h3>

        <!-- Informações Básicas -->
        <h4 class="styleBoxInfo">Informações Básicas</h4>


        <!-- Títulos -->
        <div class="styleBoxTwoColumns">
            <div>
                <p class="boldText">Títulos:</p>
            </div>
            <div>
                <p>O Guia Silêncioso</p>
                <p>A Bússola Invisível</p>
                <p>O Norte Manufaturado</p>
            </div>
        </div>

        <!-- Adjetivos -->
        <div class="styleBoxTwoColumns spaceAbove">
            <div>
                <p class="boldText">Adjetivos:</p>
            </div>
            <div>
                <p>Feloriano</p>
                <p>Feloriana</p>
                <p>Felorianos</p>
            </div>
        </div>

        <!-- Panteão -->
        <div class="styleBoxTwoColumns spaceAbove">
            <p class="boldText">Panteão:</p>
            <p>Panteão Humano</p>
        </div>


        <!-- Estatísticas -->
        <h3 class="styleBoxEstatisticas spaceAbove"> Estatísticas </h3>

        <!-- Alinhamento -->
        <div class="styleBoxTwoColumns spaceAbove">
            <p class="boldText">Alinhamento:</p>
            <p>Caótico Bom</p>
        </div>

        <!-- Símbolo -->
        <div class="styleBoxTwoColumns spaceAbove">
            <p class="boldText">Símbolo:</p>
            <p class="textAlignLeft">Uma bússula com fundo azul oceânico.</p>
        </div>

        <!-- Portifólio -->
        <div class="styleBoxTwoColumns spaceAbove">
            <p class="boldText">Portifólio:</p>
            <p class="textAlignLeft">Viagem Marítima, Navegação e Proteção.</p>
        </div>

        <!-- Domínios -->
        <div class="styleBoxTwoColumns spaceAbove">
            <p class="boldText">Domínios:</p>
            <p class="textAlignLeft">Liberdade, Enganação, Sorte e Viagem.</p>
        </div>

        <!-- Domínios Alternativos -->
        <div class="styleBoxTwoColumns spaceAbove">
            <p class="boldText">Domínios Alternativos:</p>
            <p class="textAlignLeft">Estrela, Água, Confiança e Proteção.</p>
        </div>

        <!-- Adoradores -->
        <div class="styleBoxTwoColumns spaceAbove">
            <p class="boldText">Adoradores:</p>
            <p class="textAlignLeft">Mercadores, Navegadores e Pescadores.</p>
        </div>
    </div>

    <!-- Deity -->
    <div class="wrapper">

        <h1 class="textH1"> Felor </h1>
        <hr>
        <p>Felor é um deus trapaceiro que ajuda aqueles que precisam viajar pelos mares sem serem detectados. Ele é um
            deus bondoso que valoriza a liberdade e a independência, mas também é um deus astuto que usa sua habilidade
            de enganar para ajudar aqueles que precisam de proteção. Ele é um deus popular entre marinheiros, mercadores
            e todos aqueles que fazem viagens perigosas.</p>
    </div>

    <!-- Aparência -->
    <div class="wrapper">

        <h2 class="textH2">Aparência</h2>
        <hr>
        <img src="assets/img/placeholderpic.png" alt="" class="shapeImageRight">

        <p> Felor é geralmente retratado como um jovem com cabelos prateados e olhos azuis. Ele é magro e tem um
            sorriso malicioso no rosto. Ele é frequentemente representado vestindo roupas leves e coloridas, como uma
            camisa branca e calças azuis. </p>

    </div>

    <!-- Seguidores -->
    <div class="wrapper">

        <h2 class="textH2"> Seguidores </h2>
        <hr>

        <p> Os seguidores de Felor são geralmente marinheiros, mercadores e aventureiros que fazem viagens perigosas.
            Eles valorizam a independência e a liberdade, mas também são leais e protetores de seus amigos e aliados. Os
            seguidores de Felor geralmente usam roupas leves e coloridas e são conhecidos por serem alegres e
            confiantes, mesmo nas situações mais perigosas. </p>
    </div>


    <!-- Personalidade -->
    <div class="wrapper">

        <h2 class="textH2"> Personalidade </h2>
        <hr>

        <p>Felor possue uma personalidade bem astuta e esperta. Ele é altruísta em ajudar as pessoas a passar pelos
            mares. Ele gosta de se divertir e se envolver em grandes esquematizações, sempre mantendo sua mente afiada e
            atenta para as oportunidades que possam surgir. Ele pode ser brincalhão e não levar as coisas muito a sério,
            mas quando a situação fica séria, ele é capaz de se concentrar e agir com rapidez e eficácia para proteger
            aqueles que os segue.</p>

    </div>


    <!-- História -->
    <div class="wrapper">

        <h2 class="textH2"> História </h2>
        <hr>

        <p>Felor era uma divindade entediada, não possuia um objetivo na vida, era pouco perdido sobre seu suas funções
            como uma divindade, e por muito tempo ele não fez absolutamente nada. Algumas vezes ele descia como avatar
            para o mundo,
            disfarçado, para conheçer o mundo e as pessoas. Decidiu adotar uma identidade humana, e começou sua jornada
            como um marinheiro que navegou pelos mares do mundo. Ele sempre foi um trapaceiro talentoso, capaz de
            persuadir as pessoas a dar-lhe o que queria e escapar de situações perigosas. Um dia, enquanto navegava pelo
            mar, ele testemunhou a destruição de um navio por um poderoso furacão. Após o desastre, ele nadou até a
            costa, onde encontrou sobreviventes chorando a perda de amigos e familiares.</p>

        <br>

        <img src="assets/img/placeholderpic.png" alt="" class="shapeImageLeft">

        <p>Foi nesse momento que ele decidiu se tornar a divindade que é hoje e ajudar os marinheiros a navegar com
            segurança pelo mar. Ele sabia que o perigo era sempre iminente, especialmente com a presença de Kran, uma
            divindade maligna que procurava governar os mares e subjugar todos aqueles que tentavam atravessá-los.</p>

        <br>

        <p>Assim, essa divindade trapaceira decidiu usar suas habilidades para ajudar os marinheiros em perigo,
            escondendo-os da visão de Kran e guiando-os através das tempestades e das águas perigosas. Ele tornou-se
            conhecido como o Deus Trapaceiro, e muitos marinheiros clamavam por sua ajuda em tempos de necessidade.</p>

        <br>

        <p>Ao longo dos anos, essa divindade trapaceira ganhou seguidores devotos e tornou-se uma divindade poderosa
            por direito próprio. Ele ainda mantém seu espírito trapaceiro, mas usa suas habilidades para ajudar os
            outros e proteger aqueles que se aventuram no mar. Ele é um símbolo de esperança e segurança para todos os
            marinheiros que enfrentam perigos desconhecidos no vasto oceano.</p>
    </div>

    <!-- Rezas -->
    <div class="wrapper">
        <h2 class="textH2"> Rezas </h2>
        <hr>
        <h3>Shantie da Segurança</h3>
        <p>Oh grande boémio dos mares,<br>
            cuja astúcia guia nossos barcos,<br>
            proteja-nos das tormentas<br>
            e ilumine nossas rotas.<br>
            Com sua mão trapaceira,<br>
            conduza-nos através das águas,<br>
            e ajude-nos a evitar<br>
            os perigos que se escondem abaixo.<br>
            Bendito seja seu nome,<br>
            oh deus dos navegantes,<br>
            e que suas artimanhas<br>
            nos conduzam à segurança.
        </p>
        <br>
        <h3>Agradecimento A Bússola Invisível</h3>
        <p>Ó grande guia das águas profundas,<br>
            cujo coração é tão gentil quanto suas artimanhas são astutas,<br>
            guarde-nos em nossas jornadas pelos mares incertos,<br>
            proteja-nos da ira do deus Kran,<br>
            e conceda-nos a sorte e a habilidade<br>
            para superar todas as dificuldades e obstáculos.<br>
            Nós te honramos com nossas preces,<br>
            e agradecemos pelas bênçãos que você nos oferece,<br>
            oh mestre dos segredos ocultos e dos caminhos sinuosos.
        </p>
    </div>

    <!-- Cântigos -->
    <div class="wrapper">
        <h2 class="textH2"> Cântigos </h2>
        <hr>

        <p>Pelos mares navegando<br>
            Sem temer o mal que vem chegando<br>
            Com astúcia e com engenho<br>
            Seguimos sempre empenho</p>
        <br>

        <p>Nosso deus, ele é o truque<br>
            Que nos ajuda a evitar os males que nos sucumbe<br>
            Ele é o mestre da esperteza<br>
            E com ele, não há nada que nos surpreenda</p>
        <br>

        <p>Então vamos todos cantar<br>
            Em homenagem ao deus do mar<br>
            Aquele que guia com seu brilho<br>
            E nos mantém a salvo na escuridão</p>
        <br>

        <p>E assim seguimos em frente<br>
            Com coragem e determinação<br>
            Nunca esquecendo de nosso deus<br>
            Que nos protege da percepção.</p>
    </div>

</section>