<section>

    <!-- Introdução -->
    <div class="wrapper">

        <h2 class="textH2"> Cenário </h2>

        <p>Seja bem vindo ao meu cenário, ele está progredindo lentamente, mas espero que fique pronto e incrivel um
            dia.</p>
    </div>

    <!-- Deidades -->
    <div class="wrapper">

        <h2 class="textH2"> Deidades </h2>

        <p>Lista de Deidades</p>

        <p>Deidades Humanas</p>
        
        <a routerLink="/felor" routerLinkActive="active">Felor</a>
        <br>
        <a routerLink="/fougeres" routerLinkActive="active">Fougeres</a>
    </div>



</section>
